<h1>Welcome <%= Vendor::NAMES[@current_vendor.brand_id] %></h1>

<h2>Listing Products for fulfillment</h2>
<table>
<tr> <th>Quantity</th><th>Product</th> </tr>
<%= @products_by_vendor.count %>
<% @products_by_vendor.each_pair do |name,quantity| %>
    <tr>
      <td><%= quantity %></td>
      <td><%= name %></td>
    </tr>
<% end %>
</table>

